@media (min-width: 767px) {
  .navbar {
   // transition: background .5s ease-in-out, visiblity .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background: #DEDEDE;
    border-bottom: 1px dashed #A9A9A9;
  }

  .navbar a.active {
    color: $secondary-color !important;
    background: #9f9f9f;
  }

}