@media (min-width: 767px) {
  .navbar {
   // transition: background .5s ease-in-out, visiblity .5s ease-in-out;
    height: $menu-height;
  }

  .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;

  }

  .top-nav-collapse {
    padding: 0;
    background: $header-color;
    border-bottom: 1px dashed #A9A9A9;
  }


//



}