
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 20px 0;
}

.article-container {
  @extend .container;
  height: 100vh;
  padding-top: 60px;
//  h2 {
//    font-size: 3.4vw;
//  }
  .article-image-view {
    @extend .col-sm-6;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .article-image {
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .close-icon {
    margin-top: 30px;
    height: 20px;
    width: 20px;
    background: url(../../assets/images/close-icon.png) no-repeat;
    background-size: 20px;
    cursor: pointer;

  }
  .article-content {
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 20px;
    width: 100%;
    min-height: 50vh;
  }

}


.article-form {
  margin-bottom: 100px;
}


.form-btn {
  @extend .btn;
  @extend .pull-right;
  margin-left: 5px;
}

.articles-header {
  h3 {
    //allow vertical align, remove margin
    display: inline-block;
  }
  background-color: lightgrey;
  text-align: center;
  font-weight: bold;
  height: 60px;
  vertical-align: middle;
}

.article-search-bar {
  .search-box {
    input {
      //search icon
      font-family: 'FontAwesome';
      font-size: medium;
      height: calc(50px - 14px);
    }
    height: calc(50px - 14px);
    position: absolute;
    right: 20px;
    top: 7px;
  }
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #e4e4e4;
  vertical-align: middle;

}

.article-overview {
  // @extend .container;
}

.article-list {
  width: 100%;
  height: calc(100% + 100px);
  padding: 5px;
}

.article-cell {
  height: 25em;
  width: 22em;
  display: table-cell;
  padding-right: 5px;
}

.article-thumbnail {
  h2 {
    display: inline;
    font-family: 'Raleway', cursive;
  }
  background: lightgray;
  border-radius: 15px;
  height: 100%;
  width: 100%;

  .article-title {
    height: 40%;
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  .article-image {
    height: 17em;
    width: 22em;
    border-radius: 15px 15px 0 0 ;
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
  }

  .article-image:hover {
    -webkit-filter: grayscale(0.1);
    filter: grayscale(0.1);
    cursor: pointer;
  }


}

//file upload
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  border-radius: 8px;
  width: 250px;
  height: 150px;
  cursor: pointer;
  padding: 25px;
  margin-bottom: 20px;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

.drop-box.dragover-err {
  border: 5px dashed red;
}


.image-include {
  display:flex;
  .image-preview {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    border: none;
    margin: 0 15px 15px 0;
  }
}





