/* Header----*/
.articles-header {
  h3 {
    //allow vertical align, remove margin
    display: inline-block;
  }
  background-color: lightgrey;
  text-align: center;
  font-weight: bold;
  height: 60px;
  vertical-align: middle;
}

.article-search-bar {
  .search-box {
    input {
      //search icon
      font-family: 'FontAwesome';
      font-size: medium;
      height: calc(50px - 14px);
    }
    height: calc(50px - 14px);
    position: absolute;
    right: 20px;
    top: 7px;
  }
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #e4e4e4;
  vertical-align: middle;

}

.article-overview {
  min-height: 100vh;
}

/* Thumbnail list view----*/
.article-list {
  width: 100%;
  height: calc(100% + 100px);
  padding: 5px;
}

.article-cell {
  height: 25em;
  width: 22em;
  display: table-cell;
  padding-right: 5px;
}

.article-thumbnail {
  h2 {
    display: inline;
    font-family: 'Raleway', cursive;
  }
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-color: #e8e8e8;
  background: repeating-linear-gradient(
      145deg,
      #e8e8e8,
      #e8e8e8 5px,
      #e6e6e6 5px,
      #e6e6e6 10px
  );

  .article-title {
    height: 40%;
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  .article-image {
    height: 17em;
    width: 22em;
    border-radius: 15px 15px 0 0 ;
    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);
  }

  .article-image:hover {
    -webkit-filter: grayscale(0.1);
    filter: grayscale(0.1);
    cursor: pointer;
  }


}
