<div class='article-list'>
    <div class='article-cell' ng-repeat="article in item.content">
        <div class="article-thumbnail">
                <img src="{{article.thumbnail}}" class="article-image" ng-click="showDetailView(article.id, 'detail')">
            <div class="article-title">
                <span ng-if="isLoggedIn">
                    <span class="edit-link" ng-click="showDetailView(article.id, 'edit')">
                        <h4>{{article.title}}</h4>
                    </span>
                </span>
                <span ng-if="!isLoggedIn">
                    <h4>{{article.title}}</h4>
                </span>
            </div>
        </div>
    </div>
</div>
