<div class="article-container">
    <div class="row">
        <div class="col-sm-11">
            <h2>{{article.title}}</h2>
        </div>
        <div class="col-sm-1">
            <div class="close-icon" ng-click="close()"></div>
        </div>
    </div>
    <div class="row>">
        <!--<TODO set bottom border instead of the hr>-->
    <hr/>
    </div>
    <div class="row">
        <div class="article-image-view">
            <carousel interval="-1">
                <slide ng-repeat="image in article.images" active="slide.active">
                    <img ng-src="{{image}}" style="margin:auto;">
                </slide>
            </carousel>
        </div>
        <div class="col-sm-6">
            <div class="article-content">
                <div ng-bind-html="article.content | HtmlFilter"></div>
            </div>
        </div>
    </div>
    <div class="row>">
        <hr/>
    </div>


</div>