<div class="container padding-top">
    <h2>Create new article</h2>
    <hr/>

    <div class="image-include">
        <div ng-show='article.image'>
            <img src='' class="image-preview">
        </div>
        <div ng-show="includeImg">
            <div ngf-drop ngf-select ng-model="imageFile" class="drop-box"
                 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
                 accept="image/*">Drop image here or click to upload
            </div>
        </div>
    </div>

    <form class="article-form" name="form" ng-submit="save(form)" novalidate>
        <div class="form-group has-feedback" ng-class="{'has-error': form.title.$invalid && submitted }">
            <label class="control-label" for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" ng-model="article.title" required/>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error': form.type.$invalid && submitted }">
            <label class="control-label" for="type">Type</label>
            <input type="text" id="type" name="type" ng-model="article.type"
                   typeahead="type for type in findMatchingTypes($viewValue)"
                   class="form-control" required>
            <i ng-show="spinner.show" class="glyphicon glyphicon-refresh"></i>

        </div>
        <div class="form-group">
            <text-angular ng-model="article.content"
                          ta-toolbar="[['h1','h2','h3'],['bold','italics'],['justifyLeft', 'justifyCenter', 'justifyRight'], ['insertImg']]"
                          required/>
        </div>
        <button class="form-btn btn-success" type="submit">{{saveAction}}</button>
        <button class="form-btn btn-default" ng-click="initialize()" type="button">Reset
        </button>

    </form>

</div>
