<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="col-sm-4 col-l">
                <h4>Offices</h4>
                <ul class="list-unstyled">
                    <li>Eventures Ltd.</li>
                    <li>86-90 Paul Street</li>
                    <li>London</li>
                    <li>EC2A 4NE</li>
                </ul>
            </div>
            <div class="col-sm-4 col-c">
                <h4>center col</h4></div>
            <div class="col-sm-4 col-r">
                <h4>Latest posts</h4>
                <ul class="list-unstyled" ng-repeat="article in recentPosts">
                    <li><a ng-href="/services/article/{{article._id}}">{{article.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>