$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: $screen-lg-min) { @content; }
  }
  @else if $point == md {
    @media (min-width: $screen-md-min) { @content; }
  }
  @else if $point == sm {
    @media (min-width: $screen-sm-min)  { @content; }
  }
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*VARIABLES-----*/
$primary-color: #2F4F4F;
$secondary-color: #8AE6B8;
$footer-txt-color: #5C5C54;
$footer-bg-color: #333329;

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'article/article.scss';
@import 'footer/footer.scss';
@import 'main/intro.scss';
@import 'main/main.scss';
@import 'navbar/navbar.scss';
@import 'services/services.scss';
// endinjector