$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Lato|Raleway);


/*VARIABLES-----*/
$primary-color: #2F4F4F;
$header-color: #DEDEDE;
$accordion-color: #38cc70;
$accordion-text: #fff;
$link-color: #609d15;


@mixin word-wrap() {
  word-break:     break-word;
  -webkit-hyphens: auto;
  -moz-hyphens:    auto;
  hyphens:         auto;
}

// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'article/article-list.scss';
@import 'article/article.scss';
@import 'main/loading-bar.scss';
@import 'main/main.scss';
@import 'main/spinner.scss';
@import 'navbar/navbar.scss';
@import 'accordion/accordion.scss';
// endinjector