<div class="accordion">
    <div class="outer">
        <div ng-repeat-start="item in model">
            <span>
                <a class="accordionTitle" ng-click="toggleCollapse($index)"
                   ng-class="{'accordionTitleActive' : !item.collapsed}">
                    {{item.title}}
                </a>
            </span>
            <div class="inner accordionItem"
                 ng-class="{'animateOut accordionItemCollapsed' : item.collapsed, 'animateIn' : !item.collapsed}">
                {{item.content}}
            </div>
        </div>
        <div ng-repeat-end></div>
    </div>
</div>
