
/* ACCORDION --------------*/
/*
 * Setting the max-height (at @media screen and (min-width:48em))
 * determines the height of an accordion container. (transition duration should be proportional to the height)
 *
 * Three container layout options:
 * 1) A collapsable grid system.
 * 2) One row display, with horizontal scrolling enabled. (container-fluid, overflow-x visible);
 * 3) Scroll vertically (overflow-y: visible)
 *
 */
.accordion-wrapper {
  width: 100vw;
}

.accordion-loader {
  width: 100vw;
  height: 200px;
  display: none;
}


.loader-visible {
        display: block;
}

.accordion {
  display: none;
  .outer {
    border: 1px solid #ddd;
    &:after {
      content: "";
      display: block;
      height: 1em;
      width: 100%;
      background-color: darken($accordion-color, 10%);
    }
  }
  span {
    > a {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-size: larger;
      padding: 1em;
      display: block;
      text-decoration: none;
      color: $accordion-text;
      -webkit-transition: background-color 0.5s ease-in-out;
    }
  }
  .inner {
    //background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
    > p {
      padding: 1em 2em 1em 2em;
    }
  }
}

.accordion-visible {
    display: block;

}

.accordion-title {
  background-color: $accordion-color;
  border-bottom: 1px solid darken($accordion-color, 5%);
  cursor: pointer;
  > h3 {
    display: inline-block;
  }
  &:before {
    //open/close icon
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 1.5em;
    line-height: 2em;
    float: right;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    @include transition(transform 0.3s ease-in-out);
  }
  &:hover {
    background-color: darken($accordion-color, 10%);
  }
}

.accordion-title-active {
  background-color: darken($accordion-color, 10%);
  &:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.accordion-item {
  height: auto;
  overflow-y: hidden;
  //SHAME: magic number to allow the accordion to animate
  @media all {
    max-height: 500em;
    @include transition(max-height 1s);
  }
  @media screen and (min-width: 48em) {
    max-height: 30em;
    @include transition(max-height 0.6s);
  }
}

.accordion-item-collapsed {
  max-height: 0;
}

.animate-in {
  -webkit-animation-name: accordion-in;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.65s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordion-in;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;

}

.animate-out {
  -webkit-animation-name: accordion-out;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordion-out;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordion-out;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordion-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);

  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes accordion-in {
  0% {
    opacity: 0;
    -moz-transform: scale(0.97);

  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes accordion-in {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes accordion-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);

  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.97);
  }
}

@-moz-keyframes accordion-out {
  0% {
    opacity: 1;
    -moz-transform: scale(1);

  }

  100% {
    opacity: 0;
    -moz-transform: scale(0.97);
  }
}

@keyframes accordion-out {
  0% {
    opacity: 1;
    transform: scale(1);

  }

  100% {
    opacity: 0;
    transform: scale(0.97);
  }
}