<div class="accordion">
    <div class="outer">
        <div ng-repeat-start="item in viewModel">
            <span>
                <a class="accordion-title" ng-click="toggleCollapse($index)"
                   ng-class="{'accordion-title-active' : !item.collapsed}">
                    {{item.group}}
                </a>
            </span>
            <div class="inner accordion-item"
                 ng-class="{'animate-out accordion-item-collapsed' : item.collapsed, 'animate-in' : !item.collapsed}">
                  <ng-include src="contentTemplateUrl"></ng-include>
            </div>
        </div>
        <div ng-repeat-end></div>
    </div>
</div>
