$primary-color: darkslategray;

$secondary-color : orange;


body {
  color: darkslategray;
}

hr {
  border: 0;
  border-bottom: 2px dashed $primary-color;
  background: $secondary-color;

}

div.padding-top {
  padding-top: 80px;
}

section.intro-section {
  padding-top: 150px;
  height: 100vh;
  background: orange;
  color: #FFFFEB;
}

div.intro-container {
  text-align: center;
  height: 100%;
}

div.intro-btn {
  position: absolute;
  left: calc(50% - 100px/2);
  bottom: 50px;
  background: url(../../assets/images/down-arrow.png) no-repeat;
  background-size: 100px;
  height: 50px;
  width: 100px;
  opacity: 0.6;
  cursor: pointer;
}

section.about-section {
  height: 100vh;
  background: #FFFFEB;
  padding-top: 150px;
  text-align: center;
}

section.services-section {
  height: 100vh;
  color: #FFFFEB;
  padding-top: 150px;
  text-align: center;
  background: #333329;
}

div.border-1px-solid {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}