div.padding-top {
  padding-top: 80px;
}

section.intro-section {
  padding-top: 150px;
  height: 100vh;
  background: orange;
}

div.intro-container {
  text-align: center;
  height: 100%;
}

div.intro-btn {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 50px;
}

section.about-section {
  height: 100vh;
  background: #FFFFEB;
  padding-top: 150px;
  text-align: center;
}

section.services-section {
  height: 100vh;
  color: #FFFFEB;
  padding-top: 150px;
  text-align: center;
  background: #333329;
}

