$primary-color: darkslategray;

$secondary-color: orange;

body {
  color: $primary-color;
}

div.padding-top {
  padding-top: 80px;
}

section.intro-section {
  padding-top: 150px;
  height: 100vh;
  background: orange;
  color: #FFFFEB;
}

div.intro-container {
  text-align: center;
  height: 100%;
}

div.intro-btn {
  position: absolute;
  left: calc(50% - 100px/2);
  bottom: 50px;
  background: url(../../assets/images/down-arrow.png) no-repeat;
  background-size: 100px;
  height: 50px;
  width: 100px;
  opacity: 0.6;
  cursor: pointer;
}

section.about-section {
  height: 100vh;
  background: #FFFFEB url(../../assets/images/about-bg.png);
  padding-top: 150px;
  text-align: center;
}

$footer-txt-color: #5C5C54;
$footer-bg-color: #333329;

section.services-section {
  height: 100vh;
  color: $footer-txt-color;
  padding-top: 150px;
  text-align: center;
  background: $footer-bg-color;
}

a.post-link {
  color: $footer-txt-color;
  font-size: 70%;
}

.footer-height {
  height: 200px;
}

div.footer-col-r {
  @extend .footer-height;
  @include breakpoint(sm){
    border-left: 1px solid #5C5C54;
  }
}

div.footer-col-l {
  @extend .footer-height;
  @include breakpoint(sm){
  border-right: 1px solid #5C5C54;
  }
}

div.footer-col-c {
  @extend .footer-height;
  @include breakpoint(sm){
  border-style: solid;
  border-color: #47473E;
  border-width: 0px 1px 0px 1px;
  }
}



