@media (min-width: 767px) {
  .navbar {
    padding-top:20px;
    height: 60px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    border: none;
  }

  .top-nav-collapse {
    padding: 0;
    opacity: 0.9;
  }
}