@media (min-width: 767px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out, visiblity .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, visiblity .5s ease-in-out;
    transition: background .5s ease-in-out, visiblity .5s ease-in-out;
    visibility: hidden;
  }

  .top-nav-collapse {
    visibility: visible;
    padding: 0;
    background: #808080;
    border-bottom: 1px dashed #A9A9A9;
  }

  //TODO fix: overrriden
  .navbar-nav > li > a , .navbar-brand {
    color: #222222;
  }

  a.active {
    color: $secondary-color !important;
  }
}