@media (min-width: 767px) {
  .navbar {
    background: transparent;
    transition: opacity 0.1s 0.5s;
    border: none;
    font-size: large;
    border-bottom: 1px solid gray;
  }

  .top-nav-collapse {
    opacity: 0.9;

  }

  .navbar-hidden {
    opacity:0;
  }

  a.active {
    color: orange !important;
  }

}