/*ABOUT SECTION------*/
.about-section {
  //position: relative;
  width: 100vw;
}

.about-section p {
  text-align: left;
  font-size: x-large;
}

.spacer-top {
  height: 20vh;
  width: 100%;
  background: url(../../assets/images/bg-dotted.png);
}

.content {
  padding: 10%;
  height: 80vh;
  background: #808080;
  font-size: larger;
}

.spacer-right {
  height: 80vh;
  background: #545454 url(../../assets/images/about-bg.png);
}

.about-icon {
  display: block;
  height: 200px;
  width: 300px;
  padding-left: 25%;
  padding-top: 25px;
  background: url(../../assets/images/box-icon.png) no-repeat;
  background-origin: content-box;
}

