/*FOOTER--------------*/
.footer {
  min-height: 30vh;
  background: $footer-bg-color;
  color: $footer-txt-color;
}

.footer-container {
  @extend .container;
  position: relative;
  bottom: 0px;
}

.footer .col {
  height: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10%;

}

.footer .col-r {
  @extend .col;
  @include breakpoint(sm) {
    border-left: 1px solid $footer-txt-color;
  }
}

.footer .col-l {
  @extend .col;
  @include breakpoint(sm) {
    border-right: 1px solid $footer-txt-color;
  }
}

.footer .col-c {
  @extend .col;
  @include breakpoint(sm) {
    border-style: solid;
    border-color: #47473E;
    border-width: 0px 1px 0px 1px;
  }
}



.footer a {
  color: $footer-txt-color;
}

.footer a:hover {
  color: $secondary-color;
}

